.twoimg {
    display:flex;
    flex-direction:column;
    align-items: center;
}

.ballet {
    display:none;
    @include breakpoint-up(xlarge) {
        display:flex;
        position:relative;
        margin-top:3rem;
        position: relative;
        background-image: url('../images/ballet.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        //background-position: center center;
        width: 136%;
        height: 70vh;
        
        //min-height: 17.5rem;
    }
  
}


.team-img2 {

    position:relative;
    //margin-top:3rem;
    position: relative;
    background-image: url('../images/thisisit.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 65%;
    height: 77vh;
    margin-top: -1rem;
    margin-right: -15rem;
    margin-left: 8rem;
    //min-height: 17.5rem;

    @include breakpoint-up(xlarge){
        margin-top: -3rem;
        margin-right: -15rem;
    }
    

}